.cart {
    justify-self: end;
    align-self: center;
    position: relative;
}
.cart__image {
}
.cart__count {
    background-color: var(--accent);
    display: inline-block;
    position: absolute;

    top: 3px;
    right: -6px;


    border-radius: 40px;
    padding: 0 6px;
    height: 25px;

    line-height: 25px;
    font-weight: 700;

    font-family: var(--font-cards);
}