.footer {
    padding: 118px 0 56px;
    background-color: var(--footer-bg);
    color: var(--footer-text-color);


    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    transition: opacity 0.2s ease-in;

    a {
        color: var(--footer-text-color);
        
            &:hover {
                opacity: 0.6;
            }
    }

}

.footer__grid {
    margin-bottom: 118px;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
    gap: 20px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__nav--services {}

.footer__capyright {
    font-family: var(--font-footer-accent);
    font-size: 15px;
    letter-spacing: -0.205px;
}
.footer__links {

    display: flex;
    gap: 40px;
}

.footer__logo {
    margin-bottom: 29px;
}

.footer__desc {



    p+p {
        margin-top: 1em;
    }
}

.footer__nav {

    &--services {
        grid-column-start: 3;
    }
}

.footer__nav--services {}

.footer__nav-title {
    color: var(--footer-accent);
    font-family: var(--font-footer-accent);
    font-size: 17px;
    letter-spacing: -0.232px;
    margin-bottom: 20px;
}

.footer__list {
    display: grid;
    gap: 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
}

.footer__list-item {}