.info-hint {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 112px;
    height: 56px;
    background-image: url(./../../image/icons/tooltip.svg);
}


.info-hint__radio {

}
.info-hint__radio-fake {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    
    border-radius: 50%;
    background-color: var(--ui-gray);
    border: 2px solid #fff;
    stroke-width: 2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10);

    &--orange {
        background-color: var(--ui-orange);
    }
    &--biruza {
        background-color: var(--ui-biruza);
    }
    &--gray {
        background-color: var(--ui-gray);
    }
}