
.nav {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: 20px;
    
}

.nav-logo {
    align-self: center;
    font-weight: 700;
    letter-spacing: 0.28px;
    text-transform: capitalize;
    font-size: 28px;
}
.nav-list__item {
}
.nav-list__link {
}

