.sub-nav {
    background-color: var(--footer-bg);
    font-size: 14px;
    padding: 20px;
    border-radius: 16px;
    display: grid;
    gap: 16px;
    color: var(--footer-text-color);
    a {
        color: var(--footer-text-color); 
    }

}
.sub-nav__item {
}
.sub-nav__link {
    transition: color 0.1s ease-in;
    &:hover {
        color: var(--accent);
    }
}