.tab-controls {
    display: inline-flex;
    padding: 6px;
    align-items: center;
    border-radius: 44px;
    background-color: #eee;
}

    @include mobile(){
    .tab-controls {
        display: none;
    }
}

.tab-controls__btn {
    height: 45px;
    padding: 7px 20px;
    align-items: center;
    justify-content: center;

    border-radius: 32px;

    color: rgb(31, 31, 31, 0.8);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.85;
    /* 33.3px */
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: #FFFFFF;
    }
    &--active {
        background-color: #FFFFFF;
    }
}